#driver
chromedriver
*.zip
*.gz
LICENSE.chromedriver
geckodriver.log
geckodriver

#cache
__pycache__

#tests
tests/output.txt
tests/page-example.html

#config
src/config.cfg

#logs
flask_output.log

#screenshot debug
*.png