[Unit]
Description=Flask app
After=network.target
StartLimitIntervalSec=0
[Service]
WorkingDirectory=<dir>
Type=simple
Restart=always
RestartSec=1
User=<username>
ExecStart=flask --app <path>/src/flask-app run --host=0.0.0.0

[Install]
WantedBy=multi-user.target