[browser]
# Chrome or Firefox
browser_name=Chrome
# Full path to the driver
driver_path=/usr/lib/chromium-browser/chromedriver
# Time to open and load the page. Depends on a internet connection and hardware. Play with this value if you do not get any output.
session_time=5
